

<div class=" bg-dark  text-light p-5 rounded-lg m-3">
  <h1 class="display-4">Crypto Wallet</h1>
  <p class="lead"><%= t("messages.welcome") %></p>
  <hr class="my-4">
  <p><%= t("messages.menu") %></p>
  <%= link_to "#{Coin.model_name.human}", coins_path, class: "btn btn-primary btn-lg " %>  
  <%= link_to "#{MiningType.model_name.human}", mining_types_path, class: "btn btn-primary btn-lg" %>  
  
  
</div>