<div id="<%= dom_id mining_type %>">
  <p>
    <strong>Description:</strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong>Acronyn:</strong>
    <%= mining_type.acronyn %>
  </p>

</div>
